section{
    background-color: gainsboro;
    width: 80vw;
    height: 60vh;
    border: solid 2px black;
    overflow-y: auto;
}
th, td {
    padding: 0px;  /* cellpadding */
}
table{
    width: 100%;
    height: 0;
    overflow-y: auto;
    border-collapse: collapse; border-spacing: 0; /* cellspacing */
}
.tblTitulo{
    width:0vw;
    height: 10vh;
    background-color:#4f4e4e;
    color: black;
    border: solid 2px;
    font: 2em sans-serif white;
}
.TblConteudo{
    border-bottom: solid 2px #a1a1a1;
    width: 0vw;
    height: 8vh;
    background-color:#c2bebe;
    text-align: center;
}
/* From uiverse.io by @alexroumi */
#deletar {
    padding: 15px 25px;
    border: unset;
    color: #ffffff;
    z-index: 1;
    border: solid 1px black;
    background: #af3d3d;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   #deletar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border:solid 2px black;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 2px 4px 8px -6px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #deletar:hover {
    color: #ffffff;
   }
   
   #deletar:hover::before {
    width: 100%;
   }
   